<!--
Define in dashboards/views.py file
context.update({
    'layout': KTTheme.setLayout('default.html', context),
})
-->
{% extends 'layout/default.html' %}

{% load i18n %}

{% block title %}{% translate "Dashboard" %}{% endblock %}

{% block content %}



<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
    
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-12">
        {% include 'partials/widgets/tables/_widget-14.html' %}
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->



{% endblock content %}