<!--begin::Table widget 14-->
<div class="card card-flush h-md-100 col-xl-12" >
	<!--begin::Header-->
	<div class="card-header pt-lg-10">
		<!--begin::Title-->
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold text-gray-800">{{ convenio.nombre }}<p>Nombre</p></span>
		</h3>
		<!--end::Title-->
		<!--begin::Toolbar-->
		<div class="card-toolbar">
			<a href="#" class="btn btn-sm btn-light">cerrar sesión</a>
		</div>
		<!--end::Toolbar-->
	</div>
	<!--end::Header-->
	<!--begin::Body-->
	<div class="card-body pt-6">
		<!--begin::Table container-->
		<div class="table-responsive">
			<!--begin::Table-->
			<div id="cont-principal" class="container">
				<img id="logo" src="{{ convenio.logo.url }}" alt="Logo Empresa" width="180" height="120">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
					  
					  <li class="nav-item dropdown" style="{% if not certificados_con_nombre_y_formulario %}visibility: hidden;{% endif %}">
						<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Solicitud De Certificado
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						  <ul>
							{% for certificado in certificados_con_nombre_y_formulario %}
							  <li><a href="/{{ certificado.formulario }}">{{ certificado.tipo_certificado }}</a></li>
							{% endfor %}
						  </ul>
						</div>
					  </li>
					  
					  <li class="nav-item dropdown" style="{% if not operaciones_certificado %}visibility: hidden;{% endif %}">
						<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Operaciones De Certificado
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						  <ul>
							{% for operacion_cert in operaciones_certificado %}
							  <li>{{ operacion_cert }}</li>
							{% endfor %}
						  </ul>
						</div>
					  </li>
			
					  <li class="nav-item dropdown" style="{% if not operaciones_firmado %}visibility: hidden;{% endif %}">
						<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Operaciones De Firmado
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						  <ul>
							{% for operacion_firmado in operaciones_firmado %}
							  <li>{{ operacion_firmado }}</li>
							{% endfor %}
						  </ul>
						</div>
					  </li>
			
					  <li class="nav-item dropdown" style="{% if not operaciones_otp %}visibility: hidden;{% endif %}">
						<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Operaciones OTP
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						  <ul>
							{% for operacion_otp in operaciones_otp %}
							  <li>{{ operacion_otp }}</li>
							{% endfor %}
						  </ul>
						</div>
					  </li>
					  
					</ul>
				  </div>
				</nav>
			  </div>
			  <!--<img id="imagen_banner" src="{{ convenio.imagen_banner }}" alt="{{ convenio.nombre }} logo" >-->
			  <div id="banner-publicidad">
				{% if convenio.imagen_banner %}
					<img src="{{ convenio.imagen_banner.url }}" alt="{{ convenio.nombre }} banner" width="600">
				{% else %}
					
				{% endif %}
			</div>
			
			
			
		</div>
		<!--end::Table-->
	</div>
	<!--end: Card Body-->
</div>
<!--end::Table widget 14-->
