<!--begin::Tables widget 16-->
<div class="card card-flush h-xl-100">
	<!--begin::Header-->
	<div class="card-header pt-5">
		<!--begin::Title-->
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold text-gray-800">INSTANCIAS PERSONALIZADAS</span>
		</h3>
		<!--end::Title-->
		<!--begin::Toolbar-->
		<div class="card-toolbar">
		</div>
		<!--end::Toolbar-->
	</div>
	<!--end::Header-->
	<!--begin::Body-->
	<div class="card-body pt-6">
		<!--begin::Nav-->
		<ul class="nav nav-pills nav-pills-custom mb-3">
			<!--begin::Item-->
			
			<!--end::Item-->
			<!--begin::Item-->
			
		</ul>
		<!--end::Nav-->
		<!--begin::Tab Content-->
		<div class="tab-content">
			<!--begin::Tap pane-->
			<div class="tab-pane fade show active" id="kt_stats_widget_16_tab_1">
				<!--begin::Table container-->
				<div class="table-responsive">
					<!--begin::Table-->
					<table class="table table-row-dashed align-middle gs-0 gy-3 my-0">
						<!--begin::Table head-->
						<thead>
							<tr class="fs-7 fw-bold text-gray-500 border-bottom-0">
								<th class="p-0 pb-3 min-w-150px text-start"><i class="bi bi-card-list"></i>&nbsp; Listado de Empresas.  <br><br><i class="bi bi-box-arrow-up-right"></i>&nbsp; URLS. </th>
							</tr>
						</thead>
						<!--end::Table head-->
						<!--begin::Table body-->
						<tbody> 
							{% for convenio in convenios %} 
								<tr> 
									<!--<td><a href="{% url 'dashboards:detalle_convenio' nombre=convenio.nombre %}">{{ convenio.nombre }}</a></td>--> 
									<td><strong><a href="{% url 'dashboards:plantilla_dinamica' convenio.nombre %}">{{ convenio.nombre }}</a></strong></td>
								</tr> 
							{% endfor %} 
						</tbody> 
						<!--end::Table body-->
					</table>
					<!-- Paginación -->
					<nav aria-label="Page navigation">
						<ul class="pagination pagination-circle">
							{% if convenios.has_previous %}
							<li class="page-item">
								<a class="page-link" href="?page={{ convenios.previous_page_number }}&q={{ request.GET.q }}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							{% endif %}
							
							{% for num in convenios.paginator.page_range %}
							{% if convenios.number == num %}
							<li class="page-item active"><span class="page-link">{{ num }}</span></li>
							{% else %}
							<li class="page-item"><a class="page-link" href="?page={{ num }}&q={{ request.GET.q }}">{{ num }}</a></li>
							{% endif %}
							{% endfor %}
							
							{% if convenios.has_next %}
							<li class="page-item">
								<a class="page-link" href="?page={{ convenios.next_page_number }}&q={{ request.GET.q }}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
							{% endif %}
						</ul>
					</nav>
					<!-- Fin Paginación -->
					<!--end::Table-->
				</div>
				<!--end::Table container-->
			</div>
			
		</div>
		<!--end::Tab Content-->
	</div>
	<!--end: Card Body-->
</div>
<!--end::Tables widget 16-->
