<style>
    .h-20px { height: 20px; }
    .w-20px { width: 20px; }
    .fw-semibold { font-weight: 600; }
    .form-check {
        display: block; /* Hace que cada checkbox ocupe una línea completa */
        margin-bottom: 10px; /* Añade un espacio entre cada checkbox */
    }
    .form-group {
        margin-bottom: 15px; /* Añade un espacio entre cada grupo de formulario */
    }
    .form-label {
        display: block;
        margin-bottom: 5px;
        font-weight: 600; 
    }
    .form-control {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }
    .show-password {
        margin-top: 5px;
    }
</style>
<!--begin::Modal - New Target-->
<div class="modal fade" id="kt_modal_new_target" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content rounded">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">{% getIcon 'cross' 'fs-1' %}</div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                <!--begin:Form-->
                <form id="kt_modal_new_target_form" class="form" method="post" action="/crear_instancia/" enctype="multipart/form-data">
                    <!--begin::Heading-->
                    <div class="mb-13 text-center">
                        <!--begin::Title-->
                        <h1 class="mb-3">Datos para Creación de Instancia</h1>
                        <!--end::Title-->
                        <!--begin::Description-->
                        <div class="text-muted fw-semibold fs-5"> 
                        </div>
                        <!--end::Description-->
                    </div>
                    <!--end::Heading-->
                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-8 fv-row">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                            <span class="required">Nombre/ Razon Social</span>
                            <span class="ms-1" data-bs-toggle="tooltip" title="Specify a target name for future usage and reference"></span>
                        </label>
                        <!--end::Label-->
                        <input type="text" class="form-control form-control-solid" placeholder="Ingrese Nombre/ Razon Social" id="nombre" name="nombre" required/>
                    </div>
                    
                    <div class="fw-semibold me-5">
                        <label class="fs-6">Operaciones de Certificado</label>
                    </div>
                    <br>
                    <!--end::Label-->
                    <!--begin::Checkboxes-->
                    <div>
                        <!--begin::Checkbox-->
                        <label class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input h-20px w-20px" type="checkbox" name="consultar_certificado"type="checkbox" value="1" id="consultar_certificado" />
                            <span class="form-check-label fw-semibold">Consultar Certificado</span>
                        </label>
                        <!--end::Checkbox-->
                        
                        <!--begin::Checkbox-->
                        <label class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input h-20px w-20px" type="checkbox" name="revocar_certificado" type="checkbox" value="2" id="revocar_certificado"/>
                            <span class="form-check-label fw-semibold">Revocar Certificado</span>
                        </label>
                        <!--end::Checkbox-->
                
                        <!--begin::Checkbox-->
                        <label class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input h-20px w-20px" type="checkbox" name="cambiar_pin"type="checkbox" value="3" id="cambiar_pin" />
                            <span class="form-check-label fw-semibold">Cambiar Pin</span>
                        </label>
						<label class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input h-20px w-20px" type="checkbox" name="reposicion_certificado" type="checkbox" value="4" id="reposicion_certificado" />
                            <span class="form-check-label fw-semibold">Reposición Certificado Pertenencia Empresa ó Rep. Legal</span>
                        </label>

                        <!--end::Checkbox-->
                    </div>
                    <br>
                    

                    <div class="fw-semibold me-5">
                        <label class="fs-6">Operaciones de Firmado</label>
                    </div>
                    <br>
                    <!--end::Label-->
                    <!--begin::Checkboxes-->
                    <div>
                        <!--begin::Checkbox-->
                        <label class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input h-20px w-20px" type="checkbox" name="firmar_documento" type="checkbox" value="1" id="firmar_documento"/>
                            <span class="form-check-label fw-semibold">Firmar documento</span>
                        </label>
                        <!--end::Checkbox-->
                        
                        <!--begin::Checkbox-->
                        <label class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input h-20px w-20px" type="checkbox" name="verificar_firma" type="checkbox" value="2" id="verificar_firma" />
                            <span class="form-check-label fw-semibold">Verificar Firma</span>
                        </label>
                    </div>
                    <br>

                    <div class="fw-semibold me-5">
                        <label class="fs-6">Operaciones de OTP</label>
                    </div>
                    <br>
                    <!--end::Label-->
                    <!--begin::Checkboxes-->
                    <div>
                        <!--begin::Checkbox-->
                        <label class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input h-20px w-20px" type="checkbox" name="cambiar_otp" type="checkbox" value="1" id="cambiar_otp" />
                            <span class="form-check-label fw-semibold">Cambiar Timpo OTP</span>
                        </label>
                        <!--end::Checkbox-->
                        
                        <!--begin::Checkbox-->
                        <label class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input h-20px w-20px" type="checkbox" name="firmar_con_otp"type="checkbox" value="2" id="firmar_con_otp" />
                            <span class="form-check-label fw-semibold">Firmar con OTP</span>
                        </label>
                        <!--end::Checkbox-->
                
                        <!--begin::Checkbox-->
                        <label class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input h-20px w-20px" type="checkbox" name="invalidar_otp"type="checkbox" value="3" id="invalidar_otp"/>
                            <span class="form-check-label fw-semibold">Invalidar OTP</span>
                        </label>
                        <!--end::Checkbox-->
                    </div>
                    <br>

                    <div class="fw-semibold me-5">
                        <label class="fs-6">Credencialese Web Service</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="ws-usuario" class="form-label">Usuario Web Service</label>
                        <input type="text" id="usuario_weservice" placeholder="Ingrese Usuario Web Service" name="usuario_weservice" class="form-control" required>
                    </div>
                    <div class="form-group">
						<label for="contraseña_webservice" class="form-label">Contraseña Web Service</label>
						<input type="password" id="contraseña_webservice" placeholder="Ingrese Contraseña Web Service" name="contraseña_webservice" class="form-control" required>
						<div class="show-password">
							<input type="checkbox" class="toggle-password" data-target="contraseña_webservice"> Mostrar Contraseña
						</div>
					</div>
                    <br>
                    <div class="form-group">
                        <label for="logo" class="form-label"><strong>Cargar Logo de la Empresa:</strong></label>
                        <input type="file" class="form-control" id="logo" name="logo" accept="image/*" required>
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="requiereBanner" class="form-label"><strong>¿Requiere Banner Corporativo?</strong></label>
                        <div class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input" type="radio" name="flexRadio" id="flexRadioDefault3">
                            <label class="form-check-label" for="flexRadioDefault3">
                                Sí
                            </label>
                        </div>
                        <div class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input" type="radio" name="flexRadio" id="flexRadioDefault4" checked>
                            <label class="form-check-label" for="flexRadioDefault4">
                                No
                            </label>
                        </div>
                    </div>
            
                    <div id="campos-banner" class="form-group" style="display: none;">
                        <div class="form-group campos-banner">
                            <label for="imagenBanner" class="form-label"><strong>Cargar Banner Corporativo:</strong></label>
                            <input type="file" class="form-control" id="imagenBanner" name="imagenBanner" accept="image/*">
                        </div>
                    </div>
                    <br>
					<div class="form-group">
                        <label for="usuario" class="form-label">Color Primario</label>
                        <input type="color" id="colorPrimario" name="colorPrimario" class="form-control" required>
                    </div>
					<br>
					<div class="form-group">
                        <label for="usuario" class="form-label">Color Secundario</label>
                        <input type="color" id="colorSecundario" name="colorSecundario" class="form-control" required>
                    </div>
					<br>

                    <div class="form-group">
                        <label for="usuario" class="form-label">Usuario</label>
                        <input type="text" id="usuario_convenio" name="usuario_convenio" class="form-control" required>
                    </div>
                    <div class="form-group">
						<label for="contraseña" class="form-label">Contraseña</label>
						<input type="password" id="contraseña" name="contraseña" class="form-control" required>
						<div class="show-password">
							<input type="checkbox" class="toggle-password" data-target="contraseña"> Mostrar Contraseña
						</div>
					</div>
					<div class="form-group">
						<label for="confirmarContraseña" class="form-label">Confirmar Contraseña</label>
						<input type="password" id="confirmarContraseña" name="confirmarContraseña" class="form-control" required>
						<div class="show-password">
							<input type="checkbox" class="toggle-password" data-target="confirmarContraseña"> Mostrar Contraseña
						</div>
					</div>					

					<div class="fw-semibold me-5">
						<label class="fs-6" for="tipoCertificado"><strong>Selecciona tipo de Certificado:</strong></label>
					</div>
					<br>
					<div class="form-group">
						<div class="form-check">
							<input class="form-check-input tipo-certificado" type="checkbox" name="certificado_factutacion_electronica_persona_juridica" value="10" id="certificado_factutacion_electronica_persona_juridica" data-toggle="modal" data-target="#modalCertificadoGenerico" data-nombre="Facturación Electrónica - Persona Jurídica">
							<label class="form-check-label" for="certificado_factutacion_electronica_persona_juridica">Facturación Electrónica - Persona Jurídica</label>
						</div>
						
						<div class="form-check">
							<input class="form-check-input tipo-certificado" type="checkbox" name="certificado_factutacion_electronica_persona_natural" value="11" id="certificado_factutacion_electronica_persona_natural" data-toggle="modal" data-target="#modalCertificadoGenerico" data-nombre="Facturación Electrónica - Persona Natural">
							<label class="form-check-label" for="certificado_factutacion_electronica_persona_natural">Facturación Electrónica - Persona Natural</label>
						</div>
						
						<div class="form-check">
							<input class="form-check-input tipo-certificado" type="checkbox" name="certificado_comunidad_academica" value="6" id="certificado_comunidad_academica" data-toggle="modal" data-target="#modalCertificadoGenerico" data-nombre="Certificado Comunidad Académica">
							<label class="form-check-label" for="certificado_comunidad_academica">Comunidad Académica</label>
						</div>
						
						<div class="form-check">
							<input class="form-check-input tipo-certificado" type="checkbox" name="certificado_pertenencia_empresa" value="9" id="certificado_pertenencia_empresa" data-toggle="modal" data-target="#modalCertificadoGenerico" data-nombre="Certificado Pertenencia Empresa">
							<label class="form-check-label" for="certificado_pertenencia_empresa">Pertenencia Empresa</label>
						</div>
						
						<div class="form-check">
							<input class="form-check-input tipo-certificado" type="checkbox" name="certificado_profesional_titulado" value="7" id="certificado_profesional_titulado" data-toggle="modal" data-target="#modalCertificadoGenerico" data-nombre="Certificado Profesional Titulado">
							<label class="form-check-label" for="certificado_profesional_titulado">Profesional Titulado</label>
						</div>
						
						<div class="form-check">
							<input class="form-check-input tipo-certificado" type="checkbox" name="certificado_representante_legal" value="8" id="certificado_representante_legal" data-toggle="modal" data-target="#modalCertificadoGenerico" data-nombre="Certificado Representante Legal">
							<label class="form-check-label" for="certificado_representante_legal">Representante Legal</label>
						</div>
						
						<div class="form-check">
							<input class="form-check-input tipo-certificado" type="checkbox" name="certificado_funcion_publica" value="12" id="certificado_funcion_publica" data-toggle="modal" data-target="#modalCertificadoGenerico" data-nombre="Certificado Función Pública">
							<label class="form-check-label" for="certificado_funcion_publica">Función Pública</label>
						</div>
						
						<div class="form-check">
							<input class="form-check-input tipo-certificado" type="checkbox" name="certificado_persona_juridica" value="13" id="certificado_persona_juridica" data-toggle="modal" data-target="#modalCertificadoGenerico" data-nombre="Certificado Persona Jurídica">
							<label class="form-check-label" for="certificado_persona_juridica">Persona Jurídica</label>
						</div>
						
						<div class="form-check">
							<input class="form-check-input tipo-certificado" type="checkbox" name="certificado_funcion_publica_siif_nacion" value="14" id="certificado_funcion_publica_siif_nacion" data-toggle="modal" data-target="#modalCertificadoGenerico" data-nombre="Certificado Función Pública SIIF Nación">
							<label class="form-check-label" for="certificado_funcion_publica_siif_nacion">Función Pública para SIIF Nación</label>
						</div>
						
						<div class="form-check">
							<input class="form-check-input tipo-certificado" type="checkbox" name="certificado_persona_natural" value="5" id="certificado_persona_natural" data-toggle="modal" data-target="#modalCertificadoGenerico" data-nombre="Certificado Persona Natural">
							<label class="form-check-label" for="certificado_persona_natural">Persona Natural</label>
						</div>
						
						<div class="form-check">
							<input class="form-check-input tipo-certificado" type="checkbox" name="certificado_persona_natural_comercial_rut" value="15" id="certificado_persona_natural_comercial_rut" data-toggle="modal" data-target="#modalCertificadoGenerico" data-nombre="Certificado Persona Natural Para Actividad Comercial(Rut)">
							<label class="form-check-label" for="certificado_persona_natural_comercial_rut">Persona Natural Para Actividad Comercial(Rut)</label>
						</div>
					</div>
					

					<div class="modal fade" id="modalCertificadoGenerico" tabindex="-1" aria-labelledby="modalCertificadoGenericoLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <input type="hidden" id="certificadoId">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalCertificadoGenericoLabel">Certificado: <span id="certificadoTitulo"></span></h5>
                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="vigencia">Vigencia:</label><br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input vigencia" type="checkbox" value="1">
                                            <label class="form-check-label">1 día</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input vigencia" type="checkbox" value="2">
                                            <label class="form-check-label">1 mes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input vigencia" type="checkbox" value="3">
                                            <label class="form-check-label">3 meses</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input vigencia" type="checkbox" value="4">
                                            <label class="form-check-label">6 meses</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input vigencia" type="checkbox" value="5">
                                            <label class="form-check-label">1 año</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input vigencia" type="checkbox" value="6">
                                            <label class="form-check-label">2 años</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="formato">Formato de Entrega:</label><br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input formato" type="checkbox" value="token_fisico">
                                            <label class="form-check-label">Token Físico</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input formato" type="checkbox" value="token_virtual">
                                            <label class="form-check-label">Token Virtual</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input formato" type="checkbox" value="pkcs10">
                                            <label class="form-check-label">PKCS10</label>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" onclick="agregarCertificado()">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>                    
					<br>
					<div class="container mt-5">
						<h3><strong>Certificados seleccionados</strong></h3>
						<table class="table">
							<thead>
								<tr>
									<th>Tipo de Certificado</th>
									<th>Vigencia</th>
									<th>Formato de Entrega</th>
									<th>Acción</th>
								</tr>
							</thead>
							<tbody id="certificadosTableBody">
								<!-- Aquí se agregarán las filas de la tabla dinámicamente -->
							</tbody>
						</table>
					</div>
					
					

                    <!--end::Input group-->
                    <!--begin::Actions-->
                    <div class="text-center">
						<button type="reset" id="kt_modal_new_target_cancel" class="btn btn-light me-3">Cancel</button>
						<button type="button" id="kt_modal_new_target_submit" class="btn btn-primary" onclick="guardarDatos()">
							<span class="indicator-label">Crear Instancia</span>
							<span class="indicator-progress">Please wait... 
							<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
						</button>
					</div>
                    <!--end::Actions-->
                </form>
                <!--end:Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--end::Modal - New Target-->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Mostrar/Ocultar campos de banner
        var requiereBannerSi = document.getElementById("flexRadioDefault3");
        var camposBanner = document.getElementById("campos-banner");
        var requiereBannerNo = document.getElementById("flexRadioDefault4");

        requiereBannerSi.addEventListener("change", toggleCamposBanner);
        requiereBannerNo.addEventListener("change", toggleCamposBanner);

        function toggleCamposBanner() {
            camposBanner.style.display = requiereBannerSi.checked ? "block" : "none";
        }

        // Mostrar/Ocultar contraseña
        var passwordToggles = document.querySelectorAll(".toggle-password");
        passwordToggles.forEach(function(toggle) {
            toggle.addEventListener("change", function() {
                var targetId = this.getAttribute("data-target");
                var passwordField = document.getElementById(targetId);
                passwordField.type = this.checked ? "text" : "password";
            });
        });

        // Agregar evento a los checkboxes de tipo certificado para abrir el modal y agregar certificado
        var checkboxes = document.querySelectorAll('.tipo-certificado');
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                var modalId = this.getAttribute('data-target');
                var certificadoTitulo = this.nextElementSibling.textContent; // Obtener el título del certificado del label siguiente
                mostrarModalCertificado(modalId, certificadoTitulo, this.value); // Obtener el ID del certificado del valor del checkbox
            });
        });

        // Función para mostrar el modal y actualizar su contenido según el certificado
        function mostrarModalCertificado(modalId, certificadoTitulo, certificadoId) {
            // Actualizar el título del certificado en el modal
            document.getElementById('certificadoTitulo').textContent = certificadoTitulo;
            document.getElementById('certificadoId').value = certificadoId; // Almacenar el ID en un campo oculto
            $(modalId).modal('show');
        }

        // Función para agregar certificado
        window.agregarCertificado = function() {
            // Obtener el título del certificado desde el modal
            var certificadoTitulo = document.getElementById('certificadoTitulo').textContent;
            var certificadoId = document.getElementById('certificadoId').value; // Obtener el ID del campo oculto

            // Obtener valores seleccionados de vigencia
            var vigenciaSeleccionada = obtenerValoresSeleccionados('.modal-body .vigencia');

            // Obtener valores seleccionados de formato
            var formatoSeleccionado = obtenerValoresSeleccionados('.modal-body .formato');

            // Verificar si hay al menos una selección en cada categoría
            if (vigenciaSeleccionada.length === 0 || formatoSeleccionado.length === 0) {
                alert('Debe seleccionar al menos una vigencia y un formato.');
                return;
            }

            // Convertir los valores seleccionados a números si es necesario
            vigenciaSeleccionada = vigenciaSeleccionada.map(v => parseInt(v, 10));
            formatoSeleccionado = formatoSeleccionado.map(f => f); // Mantener como string

            // Añadir la fila a la tabla
            var tablaBody = document.getElementById('certificadosTableBody');
            var fila = '<tr>' +
                '<td>' + certificadoTitulo + '</td>' +
                '<td>' + vigenciaSeleccionada.map(v => obtenerDescripcionVigencia(v)).join(', ') + '</td>' +
                '<td>' + formatoSeleccionado.map(f => obtenerDescripcionFormato(f)).join(', ') + '</td>' +
                '<td><button type="button" class="btn btn-danger btn-sm" onclick="eliminarFila(this)">Eliminar</button></td>' +
                '</tr>';

            tablaBody.insertAdjacentHTML('beforeend', fila);

            // Cerrar el modal
            $('#modalCertificadoGenerico').modal('hide');

            // Limpiar selecciones de vigencia y formato
            document.querySelectorAll('.modal-body .vigencia').forEach((checkbox) => checkbox.checked = false);
            document.querySelectorAll('.modal-body .formato').forEach((checkbox) => checkbox.checked = false);

            // Guardar los certificados seleccionados
            certificadosSeleccionados.push({
                id: certificadoId, // Usar el ID del campo oculto
                nombre: certificadoTitulo,
                vigencias: vigenciaSeleccionada,
                formatos: formatoSeleccionado
            });

            console.log('Certificados seleccionados:', certificadosSeleccionados);
        }

        // Función auxiliar para obtener valores seleccionados de checkboxes
        function obtenerValoresSeleccionados(selector) {
            var valoresSeleccionados = [];
            document.querySelectorAll(selector + ':checked').forEach(function(el) {
                valoresSeleccionados.push(el.value);
            });
            return valoresSeleccionados;
        }

        // Función auxiliar para obtener descripción de vigencia
        function obtenerDescripcionVigencia(vigencia) {
            switch (vigencia) {
                case 1: return '1 día';
                case 2: return '1 mes';
                case 3: return '3 meses';
                case 4: return '6 meses';
                case 5: return '1 año';
                case 6: return '2 años';
                default: return ''; // Manejar casos no especificados
            }
        }

        // Función auxiliar para obtener descripción de formato
        function obtenerDescripcionFormato(formato) {
            switch (formato) {
                case 'token_fisico': return 'Token Físico';
                case 'token_virtual': return 'Token Virtual';
                case 'pkcs10': return 'PKCS10';
                default: return ''; // Manejar casos no especificados
            }
        }

        // Eliminar fila de la tabla
        window.eliminarFila = function(btn) {
            btn.closest('tr').remove();
        }
    });

    let certificadosSeleccionados = [];

    function guardarDatos() {
        const form = document.getElementById('kt_modal_new_target_form');
        const formData = new FormData(form);

        // Verificar si hay al menos una selección en cada categoría
        if (certificadosSeleccionados.length === 0 ||
            certificadosSeleccionados.some(certificado => certificado.vigencias.length === 0) ||
            certificadosSeleccionados.some(certificado => certificado.formatos.length === 0)) {
            alert('Debe seleccionar al menos una opción en cada categoría.');
            return;
        }

        // Añadir certificados al FormData
        formData.append('certificados_permi', JSON.stringify(certificadosSeleccionados));

        // Imprimir datos para depuración (puede eliminarse en producción)
        console.log('Certificados seleccionados:', certificadosSeleccionados);

        // Deshabilitar el botón y mostrar la animación de carga
        const submitButton = document.getElementById('kt_modal_new_target_submit');
        submitButton.disabled = true;
        submitButton.querySelector('.indicator-label').style.display = 'none';
        submitButton.querySelector('.indicator-progress').style.display = 'inline-block';

        // Llamar a la función para guardar la instancia y los certificados
        fetch('/crear_instancia/', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log('Instancia creada y certificados guardados:', data);

            // Habilitar el botón y ocultar la animación de carga
            submitButton.disabled = false;
            submitButton.querySelector('.indicator-label').style.display = 'inline-block';
            submitButton.querySelector('.indicator-progress').style.display = 'none';

            // Mostrar mensaje de éxito
            alert('Instancia y certificados guardados exitosamente.');
        })
        .catch((error) => {
            console.error('Error:', error);

            // Habilitar el botón y ocultar la animación de carga
            submitButton.disabled = false;
            submitButton.querySelector('.indicator-label').style.display = 'inline-block';
            submitButton.querySelector('.indicator-progress').style.display = 'none';

            // Mostrar mensaje de error
            alert('Ocurrió un error al guardar la instancia y los certificados.');
        });
    }
</script>






    

	
	




